<!doctype html>
<html>
  <head>
    <!--Site Name-->
    <title>LoL DuoFinder</title>
    <!--Link CSS and Fonts-->
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap" rel="stylesheet">
    <!--Set charset-->
    <meta charset="utf-8"/>
  </head>
  <body>
    <!--Top Part-->
    <header id="top_part">
    </header>
    <!--Top Part Text-->
    <header id="top_text">
      <!--Site Name-->
      LoL DuoFinder
      <!--LoL Site Portal-->
      <div id="portal_button">
        <!--LoL Icon-->
        <img src="/images/lol.png" id="lol">
        <!--Website Name-->
        League of Legends
      </div>
      <!--Upper Border-->
      <div id="upper_border">
      </div>
      <!--Lower Border-->
      <div id="lower_border">
      </div>
    </header>
    <main>
      <!--Title For Requests-->
      <div id="requests">
        Duo Requests (All Ranks)
      </div>
      <!--Feed/Requests Area-->
      <div id="newsfeed">
        Feed Here
        <hr>
      </div>
    </main>
    <!--Set Background Image-->
    <img src="/images/league_background.jpg" id="background">
    <footer>
      <!--Copyright-->
      <p id="site_info">Copyright &copy; 2022: Eric Zheng est. 2006</p>
    </footer>
    <!--Add JavaScript-->
    <script src="/js/global.js"></script>
    <script src="/js/feed.js"></script>
  </body>
</html>
