<!doctype html>
<html>
  <head>
      <!--Site Name-->
      <title>LoLDuoFinder</title>
      <!--Link CSS-->
      <link rel="stylesheet" type="text/css" href="/css/global.css">
      <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>
      <!--Site Name-->
      <h1 id="splash_title">LoLDuoFinder</h1>
      <!--Button To Feed Page-->
      <p class="menu_button background_button" id="fade_text">Press SPACE BAR to get started</p>

      <!--Add JavaScript-->
      <script src="/js/global.js"></script>
      <script src="/js/index.js"></script>
  </body>
</html>
