/*background of index page*/
body {
	background-image: url("/images/lol_map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 270px;
  background-color: #107d87;
}

/*title of index page*/
#splash_title {
	width: 100%;
  font-size: 100px;
  color: #085b63;
  opacity: 0.85;
  text-shadow: 4px 4px 4px black;
  text-align: center;
}

/*button of index page to go to feed page*/
.menu_button {
	background-color: #085b63;
    font-size: 28px;
    color: white;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

/*background of button of index page*/
.background_button {
    border-radius: 12px;
    padding: 16px 20px;
}
